.khitma-info {
  margin-top: -32px;
  padding: 10px;
  line-height: normal;
  text-align: center;

  .title {
    margin-bottom: 8px;
  }

  .author {
    margin-bottom: 16px;
    display: block;
  }

  .description {
  }

  .khitma-cycle {
    margin-right: 8px;
  }
}
