<section *ngIf="group" class="khitma-info">


    <header class="title center-center" (click)="isExpanded = !isExpanded;">{{group.title}} <mat-icon>
            {{isExpanded? "expand_less" : "expand_more"}}

        </mat-icon>
    </header>


    <div *ngIf="isExpanded">
        <label class="author"> مُنشئ الختمة: {{group.author}} </label>

        <p class="description">
            {{group.description}}
        </p>

        <label *ngIf="showLink">{{groupLink}}</label>

    </div>


</section>





<!-- 
<mat-card *ngIf="group" class="khitma-info">
    <mat-card-title class="title">{{group.title}}</mat-card-title>

    <mat-card-subtitle class="subtitle"> مُنشئ الختمة: {{group.author}} </mat-card-subtitle>

    <mat-card-content class="description">
        {{group.description}}
    </mat-card-content>

    <span *ngIf="showLink">{{groupLink}}</span>

</mat-card> -->