<section *ngIf="group" class="khitma-info">
    <header class="title">{{group.title}}</header>

    <label class="subtitle"> مُنشئ الختمة: {{group.author}} </label>

    <p class="description">
        {{group.description}}
    </p>

    <label *ngIf="showLink">{{groupLink}}</label>

</section>





<!-- 
<mat-card *ngIf="group" class="khitma-info">
    <mat-card-title class="title">{{group.title}}</mat-card-title>

    <mat-card-subtitle class="subtitle"> مُنشئ الختمة: {{group.author}} </mat-card-subtitle>

    <mat-card-content class="description">
        {{group.description}}
    </mat-card-content>

    <span *ngIf="showLink">{{groupLink}}</span>

</mat-card> -->