.khitma-info {
  margin-top: -32px;
  padding: 10px;
  line-height: normal;
  text-align: center;

  .title {
    margin-bottom: 8px;
  }

  .subtitle {
    margin-bottom: 8px;
  }

  .description {
  }
}
