@import "~src/_variables";

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  // height: 100%;
  overflow: hidden;
  z-index: 1000;
  position: fixed;
  height: 1px;
  overflow:visible;

 top: 0; left: 0; right: 0; z-index: 10000; 

  label {
    font-weight: bold;
    zoom: 2;
  }
}

.confetti-piece {
  color: $primary-color !important;
}

.confetti-piece:nth-child(3n) {
  color: #27fdc7 !important;
}

.confetti2 {
  // transform: translate(20px);
  // background: red;

  .confetti-piece {
    color: gold !important;
  }

  .confetti-piece:nth-child(1) {
    left: 7%;
    transform: rotate(-40deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(4deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(-51deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(61deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(-52deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(38deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(11deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(49deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(-72deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(10deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(4deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(42deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
  .confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(-72deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: #{randomNum(0, 2000)}ms;
    animation-duration: #{randomNum(2000, 5000)}ms;
  }
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  // color: #ffdd94;
  top: -50px;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-40deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(4deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-51deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(61deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-52deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(38deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(11deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(49deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-72deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(10deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(4deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(42deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-72deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: #{randomNum(0, 2000)}ms;
  animation-duration: #{randomNum(2000, 5000)}ms;
}

// .confetti-piece:nth-child(odd) {
//   color: #d0e6a5;
// }
// .confetti-piece:nth-child(even) {
//   z-index: 1;
// }
// .confetti-piece:nth-child(4n) {
//   width: 5px;
//   height: 12px;
//   animation-duration: 2000ms;
// }
// .confetti-piece:nth-child(3n) {
//   width: 3px;
//   height: 10px;
//   animation-duration: 2500ms;
//   animation-delay: 1000ms;
// }
// .confetti-piece:nth-child(4n-7) {
//   color: #3f51b5;
// }

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(350px);
  }
}
