<div class="confetti confetti2">
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>brightness_3</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>brightness_3</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>brightness_3</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>brightness_3</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>brightness_3</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>brightness_3</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>brightness_3</mat-icon>
    </div>


</div>

<div class="confetti">
    <div class="confetti-piece">
        <label [translate]="'celebration.a'">ما شاء الله عنّك</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.b'">بارك الله بك</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.c'">جزاك الله خيرا</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.d'">أسعدك الله</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.e'">في ميزان حسناتك</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.f'">رضي الله عنك</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.g'">تقبّل الله</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.h'">ما شاء الله عنّك</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.i'">بارك الله بك</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.j'">جزاك الله خيرا</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.k'">أسعدك الله</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.l'">في ميزان حسناتك</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.m'">رضي الله عنك</label>
    </div>
    <div class="confetti-piece">
        <label [translate]="'celebration.n'">تقبّل الله</label>
    </div>
</div>