<div class="confetti">
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
    <div class="confetti-piece">
        <mat-icon>grade</mat-icon>
    </div>
</div>