<section dir="ltr" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let juz of ajza" fxFlex="20%" style="text-align:center">
        <app-juz-toggle [juz]="juz" [isMyJuz]="myAjzaIndexes.indexOf(juz.index)>=0" (click)="juzClicked(juz)">
        </app-juz-toggle>
    </div>
</section>

<!-- 
<div class="ideas-list" >
    <div *ngFor="let idea of filteredItems" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%"
        style="text-align:center">
        <app-idea [idea]="idea" [index]="i"></app-idea>
    </div>
</div>
 -->