<!-- <section>
    <header>ختمتي الشخصيّة</header>
    <app-personal-khitma></app-personal-khitma>


</section>

<hr /> -->

<section>


    <div *ngIf="groups; else noGroups">



        <app-group-list [groups]="groups" (onAction)="archiveGroup($event)"></app-group-list>


    </div>


    <ng-template #noGroups><span [translate]="'me.no'"></span>
    </ng-template>


    <a *ngIf="isShowArchive" mat-button class="block" routerLink="/me/groups/archive"><span
            [translate]="'me.archive'">أرشيف الختمات</span></a>

</section>