<div *ngIf="group">

    <section>
        <app-khitma-info [group]="group"></app-khitma-info>
    </section>


    <section class="juz-grid-section">

        <app-juz-grid class="app-juz-grid1" [ajza]="group.ajza" [myJuzIndex]="myJuzIndex"
            (onJuzSelection)="juzSelected($event)">
        </app-juz-grid>
    </section>


    <section class="action-panel mat-elevation-z16">

        <div *ngIf="myJuzIndex != null">
            <div class="current-juz"><span>{{myJuzIndex + 1}}</span> </div>


            <!-- جزؤك الحالي:  -->
            <button mat-raised-button color="accent" class="done-btn" (click)="juzDone()"
                [disabled]="myJuzIndex == null">
                أتممت قراءة جزئي</button>


            <button class="giveup-btn" mat-flat-button (click)="juzGiveup()">تنازل عن الجزء</button>

        </div>


        <div *ngIf="myJuzIndex == null">رجاء قم باختيار جزء</div>
    </section>



    <section>
        <header>أجزاء الختمة</header>

        <app-juz-list [ajza]="group.ajza" [myJuzIndex]="myJuzIndex" (onJuzSelection)="juzSelected($event)">
        </app-juz-list>

    </section>

    <div class="spacer"></div>




</div>