<div *ngIf="group">

    <app-khitma-info [group]="group"></app-khitma-info>


    <mat-card>

        <mat-card-content>

            <label class="current-juz" *ngIf="myJuzIndex != null">جزؤك الحالي: <span>{{myJuzIndex + 1}}</span> </label>


            <button mat-raised-button color="accent" class="block done-btn" (click)="juzDone()"
                [disabled]="myJuzIndex == null">
                أتممت قراءة جزئي</button>


            <button mat-flat-button class="block">تنازل عن الجزء</button>

        </mat-card-content>

    </mat-card>




    <mat-card>

        <mat-card-title>أجزاء الختمة</mat-card-title>

        <!-- <mat-card-subtitle>يمكنك إنشاء ختمة جديدة </mat-card-subtitle> -->

        <mat-card-content>
            <app-juz-list [ajza]="group.ajza" [myJuzIndex]="myJuzIndex" (onJuzSelection)="juzSelected($event)">
            </app-juz-list>

        </mat-card-content>

    </mat-card>

</div>