@import "~src/_variables";

:host {
  padding-bottom: 80px;
}

.done-btn {
  height: 70px;
  line-height: 70px !important;
  padding: 0 16px !important;
  font-weight: bold;
}

.current-juz {
  text-align: center;
  font-size: 200%;
  padding: 10px;
  display: block;
  font-weight: bold;

  span {
    color: $primary-color;
    margin-top: 5px;
    display: block;
  }
}

.action-panel {
  position: fixed;
  bottom: 0;
  background: white;
  left: 0;
  right: 0;
  z-index: 10;
  // height: 100px;
  margin: 0;

  button,
  a {
    width: 100%;
    text-align: center;
  }

  .my-juz-actions {
    padding: 16px 0;
  }
}

.current-juz {
  position: relative;
  display: inline-block;
  border: 1px solid #e5e5e5;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;

  &:before {
    content: "جزء";
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 50%;
    left: 0;
    right: 0;
    color: gray;
    margin-top: -12px;
  }
}

.giveup-btn {
  zoom: 0.75;
  color: gray;
}

.spacer {
  height: 64px;
}

.juz-grid-section,
.juz-list-section {
  margin: 0;
}

.juz-list-section {
  margin-top: -32px;
}

.khitma-info {
  margin-bottom: 0 !important;
}

.view-mode {
  margin-bottom: 60px;
  margin-top: 0;
}

.juz {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.khitma-done {
  background: lighten($primary-color, 70%);
  padding: 32px;
  margin: -8px -32px 0px -32px;
}

.quran-explorer-btn {
  font-size: xxx-large;
  color: $primary-color;
  margin-top: 16px;
  width: auto;
  height: auto;

  span {
    background-color: $primary-color;
    top: -20px;
    left: 8px !important;
  }
}

.dashboard-header {
  margin: -32px -32px 0;
  padding: 16px;
  background: $primary-color;

  color: white;

  // clip-path: circle(71.8% at 50% 17%);

  .admin-section {
    margin: 0;
    opacity: 0.5;
    padding: 10px;
  }
}

.names-toggle-container {
  // padding: 32px 0;
  // margin-top: 32px;
}

.copy-group-status-msg-btn {
  // margin: 32px auto 32px auto;
  background-color: $primary-color;
  color: white;
  margin-bottom: 16px;
  font-size: large !important;
  font-weight: bold;
}

.khitma-info {
  padding: 0;

  .title {
    padding: 0;
    margin-top: 16px;
  }
}

.space {
  height: 48px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: lighten($primary-color, 20%);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $primary-color;
}

.admin-actions {
  button {
    margin-bottom: 16px;
  }
}

.khitma-info .title {
  margin-bottom: 24px !important;
}

.user-msg {
  span {
    display: block;
    margin: 8px auto;
  }
}

.current-task {
}

.group-container {
  > * {
    display: block;
    margin: 32px auto;
  }
}

.group-options-menu-button {
  position: absolute;
  border-radius: 0 0 100% 100%;
  color: white;
  bottom: 0;
  margin-bottom: -20px;
  background: $primary-color;

  left: 16px;
}

.update-task-wrapper {
  .mat-form-field-wrapper {
    // padding: 0;
  }
}

mat-panel-title {
  mat-icon {
    margin-inline-start: 4px;
  }
}
