:host {
  padding-bottom: 80px;
}

// mat-card {
//   margin: 16px auto;
// }

// button {
//   margin-top: 16px !important;
// }

.done-btn {
  height: 70px;
  line-height: 70px !important;
  padding: 0 16px !important;
  // background-color: #0cc078 !important;
  font-weight: bold;
}

.current-juz {
  text-align: center;
  font-size: 200%;
  padding: 10px;
  display: block;
  font-weight: bold;

  span {
    color: #614316;
    margin-top: 5px;
    display: block;
  }
}

.action-panel {
  position: fixed;
  bottom: 0;
  background: white;
  left: 0;
  right: 0;
  z-index: 10;
  // height: 100px;
  margin: 0;

  button,
  a {
    width: 100%;
    text-align: center;
  }

  .my-juz-actions {
    padding: 16px 0;
  }

  // .my-juz-actions {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   margin: 16px 0;

  //   > * {
  //     margin: 0 10px !important;
  //   }
  // }
}

.current-juz {
  position: relative;
  display: inline-block;
  border: 1px solid #e5e5e5;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;

  &:before {
    content: "جزء";
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 50%;
    left: 0;
    right: 0;
    color: gray;
    margin-top: -12px;
  }
}

.giveup-btn {
  zoom: 0.75;
  color: gray;
}

.spacer {
  height: 100px;
}

.juz-grid-section,
.juz-list-section {
  // border-top: 1px solid #e5e5e5;
  // border-bottom: 1px solid #e5e5e5;
  // padding: 32px 0;
  margin: 0;
}

.juz-list-section {
  margin-top: -32px;
}

.khitma-info {
  margin-bottom: 0 !important;
}

.view-mode {
  margin-bottom: 60px;
  margin-top: 0;
}

// .khitma-info {
//   mat-expansion-panel {
//     margin: -64px -32px 0px -32px;
//     padding: 32px 0px;

//     mat-panel-title {
//       font-size: x-large;
//       color: black;
//     }
//   }

//   footer,
//   mat-panel-description {
//     margin-top: 16px;
//   }
// }

.view-mode {
  // background: lightgray;

  mat-button-toggle-group {
    // width: 100%;
    background: transparent;

    border: none;
    border: 2px solid #614316;

    span {
      line-height: 36px;
    }

    mat-button-toggle {
      // width: 50%;
      background: transparent;
      color: black;
      border: none !important;
      // background: lightgray;

      color: #614316;
      // border: 2px solid #614316;
      background-color: white;

      mat-icon {
        margin-left: 8px;
      }
    }

    .mat-button-toggle-checked {
      color: white;
      background-color: #614316;
    }
  }
}

.juz {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.khitma-done {
  background: #38322f;
  padding: 32px;
  margin: -32px -32px 64px -32px;
}

.quran-explorer-btn {
  font-size: xxx-large;
  color: #614316;
  margin-top: 16px;
  width: auto;
  height: auto;

  span {
    background-color: #614316;
    top: -20px;
    left: 8px !important;
  }
}

.dashboard-header {
  margin: -32px -32px 0;
  padding: 16px;
  background: darken(#614316, 10%);

  color: white;

  // clip-path: circle(71.8% at 50% 17%);

  .admin-section {
    margin: 0 0 16px 0;
    opacity: 0.5;
    padding: 10px;
  }
}

.names-toggle-container {
  // padding: 32px 0;
  // margin-top: 32px;
}

.copy-group-status-msg-btn {
  // margin: 32px auto 32px auto;
  background-color: #614316;
  color: white;
}

.khitma-info {
  padding: 0;

  .title {
    padding: 0;
    margin-top: 16px;
  }
}

.space {
  height: 48px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #6143168f;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #614316;
}
