<div fxLayout="row wrap" fxLayoutGap="0px grid" class="center-center" style="height: 100%;">
  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%" style="height: 100%; position: relative; background: #fafafa;">

    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span><a routerLink="">ختمة.نت </a></span>

      <!-- <small>- النسخة التجريبيّة</small>  -->

      <span class="version">v0.9.4</span>


      <span class="spacer"></span>

      <a routerLink="about">
        <mat-icon class="help-btn">help_outline</mat-icon>
      </a>

    </mat-toolbar>

    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="push" style="width:50%">
        <mat-nav-list fxLayout="column" fxFlex>

          <a mat-list-item routerLink="new" (click)="sidenav.close()">
            <button mat-raised-button class="block action-btn">
              <mat-icon>group</mat-icon> مجموعة جديدة
            </button>
          </a>


          <mat-divider></mat-divider>


          <a mat-list-item routerLink="me" (click)="sidenav.close()"> مجموعاتي</a>
          <a mat-list-item routerLink="quran" (click)="sidenav.close()"> المصحف الشريف </a>
          <a mat-list-item routerLink="about" (click)="sidenav.close()"> عن ختمة.نت </a>

          <mat-divider></mat-divider>

          <a mat-list-item *ngIf="!isPwaInstalled"> <button mat-raised-button class="block" (click)="installPwa()">
              <mat-icon>system_update</mat-icon> إضافة كتطبيق
            </button> </a>


        </mat-nav-list>
      </mat-sidenav>



      <mat-sidenav-content>
        <div class="content">
          <router-outlet></router-outlet>
        </div>


      </mat-sidenav-content>
    </mat-sidenav-container>







  </div>
</div>