@import "~src/_variables";

.content {
  padding: 32px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  overflow-x: hidden;
  // overflow-y: scroll;
  background: transparent;
}

.block {
  display: block;
  width: 100%;
}

mat-toolbar a {
  text-decoration: none;
  color: white;


}
.version{
  opacity: 0.25;
}
// button,
// a {
//   // font-size: 1.1em !important;
//   padding: 32px 0 !important;
// }

mat-label {
  padding-bottom: 5px;
  display: inline-block;
}

input {
  height: 40px;
  line-height: 40px;
}

textarea {
  line-height: 40px;
  // height: 160px;
}

section {
  margin: 32px 0;

  > header {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 32px;
    // margin-bottom: -16px;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background: darken($primary-color, 5%) !important;
}

.action-btn {
  background: $action-color !important;
  color: white !important;
}


button.large, a.large{
  height: 80px;
  line-height: 80px;
  font-size: larger;
}

.action-btn[disabled="true"] {
  background-color: lightgray !important;
  color: gray !important;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pwa-btn {
  background: #d3bd67;
  margin-left: 16px !important;
  color: white;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}





// mat-sidenav-container{
//   height: 100vh;
// }


.mat-drawer-container{
  background: transparent;
}

.mat-nav-list .mat-list-item{
padding:16px 0!important;
}

section > p {
  margin: 32px auto !important;
  //   background-color: red;
}

.tip{
  background: lighten($primary-color, 50%);
  color: $primary-color;
  padding:16px;
  border-radius: 4px;
display: block;
}