.content {
  padding: 32px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  overflow-x: hidden;
}

.block {
  display: block;
  width: 100%;
}

mat-toolbar a {
  text-decoration: none;
  color: white;
}

// button,
// a {
//   // font-size: 1.1em !important;
//   padding: 32px 0 !important;
// }

mat-label {
  padding-bottom: 5px;
  display: inline-block;
}

input {
  height: 40px;
  line-height: 40px;
}

textarea {
  line-height: 40px;
  height: 160px;
}

section {
  margin: 32px 0;

  > header {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
    margin-bottom: -16px;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background: #614316 !important;
}

.app-btn-primary {
  background: #797912 !important;
  color: white !important;
}

.app-btn-primary.large {
  height: 80px;
  line-height: 80px;
  font-size: x-large;
}

.app-btn-primary[disabled="true"] {
  background-color: lightgray !important;
  color: gray !important;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pwa-btn {
  background: #d3bd67;
  margin-left: 16px !important;
  color: white;
}
