<form (ngSubmit)="createGroup()" #createGroupForm="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>عنوان الختمة</mat-label>
        <input matInput [(ngModel)]="title" name="title" required="true">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>اسمك</mat-label>
        <input matInput [(ngModel)]="author" name="author" required="true">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>نص إضافي (اختياري)</mat-label>
        <textarea matInput [(ngModel)]="description" name="description"></textarea>
    </mat-form-field>

    <button type="submit" class="save" mat-raised-button color="{{createGroupForm.form.valid ? 'accent' : ''}}"
        [disabled]="!createGroupForm.form.valid">إنشاء
        مجموعة الختمة</button>

</form>