@import "~src/_variables";

:host {
  display: block;

  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.juz.list-item.idle .index {
  background-color: #fa897b;
}

.juz.list-item.booked .index {
  background-color: #ffdd94;
}

.juz.list-item.my-juz .index {
  // background-color: #90d8f0;
  // font-size: 150%;
  background-color: $primary-color;
  color: white;
}

.juz.list-item.done .index {
  background-color: #d0e6a5;
}

.index {
  margin-left: 8px;
  position: relative;
  display: inline-block;
  // border: 1px solid #e5e5e5;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 100%;
  padding: 5px;
  font-size: x-large;
  color: rgba(0, 0, 0, 0.8);

  // &:before {
  //   content: "جزء";
  //   position: absolute;
  //   top: 0;
  //   text-align: center;
  //   font-size: 50%;
  //   left: 0;
  //   right: 0;
  //   color: gray;
  //   margin-top: -16px;
  // }
}

.juz.list-item {
  // display: block;
  // background: white;
  // font-weight: bold;
  // border: 1px solid rgba(0, 0, 0, 0.12);
  // margin: 0 auto;

  margin: 5px auto;
  padding: 0 8px;
}

.juz.list-item.idle {
  // background-color: white;
  // padding: 8px;
  margin: 10px auto;

  // border: 1px solid rgba(0, 0, 0, 0.12);
  border: none !important;
}

.mat-elevation-z2 {
  background-color: white;
}

.juz.list-item.my-juz {
  background-color: $primary-color;
  color: white;
  padding: 16px 8px;
  margin: 10px auto;

  .index {
    // background-color: #90d8f0;
    // font-size: 150%;
    color: $primary-color;
    background-color: white;
  }
}

.juz.list-item {
  padding: 16px 8px;
  // border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
}
