:host {
  display: block;

  &:not(:first-child) {
    border-top: 1px solid #e5e5e5;
  }
}

.juz {
  display: block;
  padding: 20px 0;
  background: #fafafa;
  margin: 5px auto;
}

.juz.idle {
  background-color: red;
}

.juz.booked {
  background-color: yellow;
}

.juz.my-juz {
  background-color: blue;
}

.juz.done {
  background-color: green;
}
