<div class="juz list-item noselect" [ngClass]="cssClasses" fxLayout="row wrap" fxLayoutGap="0px grid">

    <div fxFlex="20%" class="center-center">
        <span class="index">{{juz.index+1}}</span>
    </div>

    <div fxFlex="80%">
        <div *ngIf="isEditMode">

            <input class="owner" type="text" [value]="juz.owner || msg" />

            <button mat-raised-button>
                <mat-icon>save</mat-icon>
            </button>

        </div>

        <div *ngIf="!isEditMode">

            <span class="owner"> {{juz.owner || msg }}</span>

        </div>


    </div>



</div>