.juz-toggle {
  $size: 36px;

  display: block;
  width: $size;
  height: $size;
  line-height: $size;

  border-radius: 100%;
  font-size: x-large;
  color: rgba(0, 0, 0, 0.8);

  margin: 0 auto;
}

.juz-toggle.idle {
  background-color: #fa897b;
  color: darkred;
}

.juz-toggle.booked {
  background-color: #ffdd94;
  color: brown;
}

.juz-toggle.my-juz {
  // background-color: #90d8f0;
  // font-size: 150%;
  background-color: #614316;
  color: white;
  transform: scale(1.4);
}

.juz-toggle.done {
  background-color: #d0e6a5;
  color: darkgreen;
  transform: scale(1);
}
