@import "~src/_variables";

.block {
  display: block;
  width: 100%;
}

mat-toolbar a {
  text-decoration: none;
  color: white;
}
.version {
  opacity: 0.25;
  margin-right: 8px;
}

// button,
// a {
//   // font-size: 1.1em !important;
//   padding: 32px 0 !important;
// }

mat-label {
  padding-bottom: 5px;
  display: inline-block;
}

input {
  height: 40px;
  line-height: 40px;
}

textarea {
  line-height: 40px;
  // height: 160px;
}

section {
  margin: 32px 0;
}

section:first-child {
  margin-top: 0;
}

section > header {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 32px;
  // margin-bottom: -16px;
}

mat-toolbar {
  background: darken($primary-color, 5%) !important;
}

.action-btn {
  background: $action-color !important;
  color: white !important;
}

button.large,
a.large {
  height: 80px;
  line-height: 80px;
  font-size: larger;
}

.action-btn[disabled="true"] {
  background-color: lightgray !important;
  color: gray !important;
}

.pwa-btn {
  background: #d3bd67;
  margin-left: 16px !important;
  color: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

// mat-sidenav-container{
//   height: 100vh;
// }

.mat-drawer-container {
  background: transparent;
}

.mat-sidenav-container {
  position: absolute !important;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$toolbar-height: 56px;

mat-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $toolbar-height;
}

#app-content {
  position: absolute;
  top: $toolbar-height;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 32px;
  padding-bottom: 64px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  overflow-x: hidden;
  // overflow-y: scroll;
  background: transparent;
  // background-color: white;
}

#app-container {
  position: relative;
  height: 100%;
  background: #fafafa;
}

.spacer {
  flex: 1 1 auto;
}

.mat-nav-list .mat-list-item {
  padding: 16px 0 !important;
}

section > p {
  margin: 32px auto !important;
  //   background-color: red;
}

.tip {
  background: lighten($admin-color, 50%);
  color: $admin-color;
  padding: 16px;
  border-radius: 4px;
  display: block;
}

.help-btn {
  display: block !important;
  margin-right: 8px;
}

.mat-list-base {
  width: 100%;
  padding: 0;
}

.mat-drawer-container {
  overflow: visible;
  position: unset !important;
}


.mat-radio-label-content{
  white-space: normal!important;
}

hr{
  border: none;
  border-top: 1px solid lightgray;
  margin: 16px 16px;
}