<div fxLayout="row wrap" fxLayoutGap="0px grid" class="center-center" style="height: 100%;">


  <div id="app-container" [class.dark]="isDarkStyle" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="100%">


    <app-celebration *ngIf="showCelebration" class="celebration-container">
    </app-celebration>

    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="menu">
        <mat-icon (click)="openMenu()">menu</mat-icon>
      </button>


      <a routerLink="">
        <!-- <mat-icon>home</mat-icon> -->
        <span>ختمة.نت</span>
      </a>

      <span class="spacer"></span>

      <mat-icon matBadge="1" matBadgePosition="before" matBadgeSize="medium" matBadgeColor="accent"
        (click)="showNotification()" [matBadgeHidden]="!unreadNotification" gaEvent="show_notification_clicked"
        gaCategory="notifications">notifications
      </mat-icon>


      <a routerLink="about">
        <mat-icon class="help-btn">help_outline</mat-icon>
      </a>

    </mat-toolbar>

    <div id="app-content">
      <router-outlet></router-outlet>
    </div>



  </div>
</div>