.home {
  font-size: x-large;
  line-height: normal;
  text-align: justify;

  .create-btn {
    font-size: x-large;
    height: 60px;
    line-height: 60px;
  }
}

.home > * {
  margin: 32px auto !important;
  //   background-color: red;
}
