<div class="home">
    <p>

        يتيح ختمة.نت إنشاء وإدارة مجموعات لختم القرآن الكريم بشكل جماعي. حيث يمكن بسهولة إنشاء مجموعة ختمة جديدة ثمّ
        دعوة أعضاء المجموعة للإنضمام ومتابعة تقدّم الختمة بشكل مباشر ومتاح للجميع. أنشئوا مجموعكم الآن ولا تنسونا من
        دعائكم إن شاء الله.

    </p>

    <a mat-raised-button color="accent" class="block create-btn" href="/new">ختمة جديدة</a>




    <section *ngIf="groups">
        <header>مجموعاتي الحاليّة</header>

        <app-group-list [groups]="groups"></app-group-list>


    </section>



</div>