@import "~src/_variables";

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}
$bgColor: #fafafa;
$boxColor: black;
// $waterFColor: #4fa097; // #1c6151;
// $waterBColor: #208796; // saturate(lighten($waterFColor, 10%), 20%);

$waterFColor: #135156; // #1c6151;
$waterBColor: $action-color; // #27fdc7; // saturate(lighten($waterFColor, 10%), 20%);

// body {
//     -webkit-font-smoothing: antialiased;
// }

:host {
    display: block;
    zoom: 0.75;
}

.box {
    height: 280px;
    width: 280px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    transform: translate(0%, 0%);
    background: $boxColor;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;

    .percent {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 64px;
    }
    .water {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        transform: translate(0, 100%);
        background: $waterFColor;

        transition: transform 2s;

        &_wave {
            width: 200%;
            position: absolute;
            bottom: 100%;
            &_back {
                right: 0;
                fill: $waterBColor;
                animation: wave-back 6s infinite linear;
            }
            &_front {
                left: 0;
                fill: $waterFColor;
                margin-bottom: -1px;
                animation: wave-front 3s infinite linear;
            }
        }
    }
}
@keyframes wave-front {
    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes wave-back {
    100% {
        transform: translate(50%, 0);
    }
}

#count {
    // -webkit-text-stroke-width: 2px;
    // -webkit-text-stroke-color: $primary-color;

    small {
        font-size: smaller;
        opacity: 0.5;
    }
}
