.home {
  font-size: larger;
  line-height: normal;
  text-align: justify;

  .logo {
    display: block;
    width: 50%;
    margin: 64px auto 32px auto !important;
  }
}

.home > * {
  margin: 32px auto !important;
  //   background-color: red;
}

a {
  margin-bottom: 16px !important;
}


#aqsa-khitma-btn{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('~src/assets/aqsa-btn-bg.png') !important;
  background-position: center;
  background-size: cover!important;
}