<div class="home">


    <label style="display:block;text-align: center;">﷽</label>



    <img class="logo" src="assets/khitma-logo.png" alt="logo of khitmah" />


    <section *ngIf="groups">

        <hr style="margin-bottom:32px" />

        <app-group-list [groups]="groups" (onAction)="archiveGroup($event)"></app-group-list>


    </section>

    <a *ngIf="isShowArchive" mat-button class="block" routerLink="me/groups/archive">أرشيف الختمات</a>

    <p>
        ختمة.نت هو تطبيق انطلق من رحاب المسجد الأقصى المبارك ليتيح قراءة وختم القرآن الكريم بشكل جماعي، وذلك عن طريق
        إنشاء مجموعات لختم القرآن وتوزيع أجزاء
        المصحف على الأعضاء بطريقة سلسلة، ثمّ متابعة تقدّم الختمة بشكل مريح ومتاح لجميع المشتركين في مجموعتك.

    </p>

    <hr />

    <section id="ayat-count">

        <span> ما يعدل</span>
        <label class="main-counter number" *ngIf="ayatCount">{{ayatCount | number}}</label>


        <span>آية تمّ تلاوتها من قبل أعضاء مجموعات ختمة.نت</span>

        <br />


        <a gaEvent="recurring_khitma_button_click" gaCategory="home_page_buttons" mat-raised-button color="accent"
            class="block large action-btn" routerLink="/new" [queryParams]="{type: 'recurring'}">إنشاء مجموعة ختمة
            دوريّة</a>

        <a gaEvent="onetime_khitma_button_click" gaCategory="home_page_buttons" mat-raised-button color="accent"
            class="block large action-btn" routerLink="/new" [queryParams]="{type: 'onetime'}"
            style="background-color: #16769a!important;">بدء ختمة جماعيّة لمرّة
            واحدة
        </a>


        <a routerLink="/aqsa" gaEvent="aqsa_khitma_button_click" gaCategory="home_page_buttons" mat-raised-button
            color="accent" class="block large action-btn" id="aqsa-khitma-btn">ختمة
            المسجد الأقصى العالميّة</a>


    </section>

    <br />


    <span> كونوا جزءا من الأجر العظيم إن شاء الله — أنشؤوا مجموعتكم الآن ولا تنسونا من
        صالح دعائكم.
    </span>

    <br />
    <br />

    <small class="secondary-counter">


        ومن يدري، فلعلّنا نتشارك في

        <strong class="counter-color">
            <span class="mono-font number">{{(hasanatCount/1000000000) | number: '1.0-0'}}</span> مليار
        </strong>

        حسنة أو يزيد.

        فـ "من قرأ حرفا من كتاب الله فله حسنة والحسنة بعشر أمثالها"، والله
        يضاعف لمن يشاء.
    </small>



    <hr />


    <!-- <section>


        <a routerLink="/aqsa" style="text-decoration: none;color:black;">

            <button gaEvent="aqsa_khitma_button_click" gaCategory="home_page_buttons" mat-raised-button color="accent"
                class="block large action-btn" id="aqsa-khitma-btn">ختمة
                المسجد الأقصى العالميّة</button>



            <p>
                بداية تطوير منصّة ختمة.نت كانت من المسجد الأقصى المبارك، حيث كتبت أولى أسطرها البرمجيّة فيه. واليوم
                يستمر
                تطوير
                المنصّة من أكناف القدس وبيت المقدس. وهنا نضع بين أيديكم ختمة جماعيّة عالميّة للمسجد الأقصى المبارك،
                داعين
                المولى عزّ وجلّ أن يرفع عنه الظلم وعن جميع أراضي المسلمين.

            </p>


        </a>

    </section>


    <hr /> -->

    <mat-card>


        <h2>تطبيقات صديقة</h2>
        <p>
            أوراد هي منصّة تقنيّة تتيح تنفيذ الأوراد الإسلاميّة بشكل جماعي، وذلك عن طريق إنشاء مجموعات للأوراد
            المشتركة (لأصدقائك أو عائلتك مثلا) ثمّ مشاركة الأوراد ومتابعة تنفيذها من قبل أعضاء المجموعة بشكل سلس
            ومتاح لجميع أعضاء المجموعة.
        </p>

        <a gaEvent="awrad_btn_clicked" gaCategory="home_page_buttons" mat-raised-button color="accent"
            class="block large action-btn" target="_blank" href="https://awrad.app" id="awrad-btn">منصّة أوراد -
            الإصدار التجريبي</a>

    </mat-card>


    <!-- <hr style="margin-bottom:32px" /> -->

    <!-- <a routerLink="/ramadan" mat-raised-button color="accent" class="block large "
            style="background-color: #011c2f;">
            <mat-icon style="transform: rotate(-23deg);color: gold;">nightlight_round</mat-icon>
            ختمة المسجد الأقصى الرمضانيّة

        </a> -->









    <!-- <hr />


    <footer>
        فريق أمّة.ديجيتال
        <br />
        Ummah.Digital
        <br />

        © {{year}}

    </footer> -->

</div>