<div id='stars'></div>

<div class="container">


    <section>
        <header>

            ختمة رمضان العالميّة
        </header>

        <!-- <p>

            (شَهْرُ رَمَضَانَ الَّذِي أُنزِلَ فِيهِ الْقُرْآنُ هُدًى لِّلنَّاسِ وَبَيِّنَاتٍ مِّنَ الْهُدَىٰ
            وَالْفُرْقَانِ) - البقرة ١٨٥
        </p> -->


    </section>



    <app-moon [days]="dayInRamadan"></app-moon>


    <!-- <section *ngIf="dayInRamadan>0; else ramadanNotStartedYet"> -->
    <header id="ramadan-day">

        {{dayInRamadan}} رمضان
    </header>


    <section id="done-ajza-counter">
        <label class="number">{{totalAjzaCounter}}</label>
        <span class="text"> أجزاء تمّت تلاوتها عالميّا</span>
    </section>

    <!-- <app-khitma-progress [current]="5" [target]="10"></app-khitma-progress> -->


    <p>

        في ما يلي ختمتك الشخصيّة لشهر رمضان المبارك. عندما تقوم بإتمام أحد الأجزاء فإنّ ذلك يضاف مباشرة لعدّاد الأجزاء
        في الختمة العالميّة. في ميزان حسناتكم إن شاء الله
    </p>


    <app-todo *ngFor="let juz of ajza;" class="juz dark" [text]="'جزء ' + (juz.index+1)"
        (onToggled)="submitJuz(juz.index, $event)" [isDone]="myAjzaStatuses[juz.index]"
        [class.today]="(juz.index+1) === dayInRamadan">

        <div content>


            جزء {{juz.index+1}}


        </div>

    </app-todo>


    <button id="reset-khitma-btn" mat-stroked-button (click)="resetKhitma()">
        <span>هل أتممت الختمة؟</span>
    </button>


    <ng-template #ramadanNotStartedYet>
        <label>نبدأ ختمتنا مع أوّل أيّام رمضان إن شاء الله</label>
    </ng-template>



</div>