<h1 mat-dialog-title [translate]="'dialog.header'">
    تعديل تفاصيل الختمة
</h1>

<form (ngSubmit)="onConfirm()" #editGroupForm="ngForm">

    <div mat-dialog-content>




        <mat-form-field appearance="fill" class="block">
            <mat-label [translate]="'dialog.title'">عنوان الختمة</mat-label>
            <input matInput [(ngModel)]="group.title" name="title" required="true" autocomplete="off">
        </mat-form-field>

        <!-- <mat-form-field appearance="fill" class="block">
            <mat-label>اسمك (مسؤول المجموعة)</mat-label>
            <input matInput [(ngModel)]="group.author" name="author" required="true">
        </mat-form-field> -->

        <mat-form-field appearance="fill" class="block">
            <mat-label [translate]="'dialog.more'">نص إضافي (اختياري)</mat-label>
            <textarea rows="4" matInput [(ngModel)]="group.description" name="description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="block">
            <mat-label [translate]="'dialog.date'">موعد التسليم</mat-label>
            <input matInput [(ngModel)]="group.targetDate" name="target-date" autocomplete="off">
        </mat-form-field>


        <mat-form-field appearance="fill" class="block">
            <mat-label [translate]="'dialog.others'"> مسؤولون إضافيّون</mat-label>
            <input matInput [(ngModel)]="group.admins" name="admins" autocomplete="off">
        </mat-form-field>

        <!-- <mat-form-field appearance="fill">
            <mat-label>تاريخ </mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->








    </div>

    <div mat-dialog-actions>


        <button type="submit" class="action-btn block large" style="margin-bottom: 16px;" mat-raised-button
            color="{{editGroupForm.form.valid ? 'accent' : ''}}" [disabled]="!editGroupForm.form.valid"><span
                [translate]="'dialog.save'">حفظ التغييرات</span></button>

        <button mat-button class="block" (click)="onDismiss()"><span [translate]="'dialog.cancel'">الغاء</span></button>



        <!-- <button mat-raised-button color="primary" type="submit" class="app-btn-primary" (click)="onConfirm()"
        disabled]="!editGroupForm.form.valid">حفظ</button> -->







    </div>

</form>