<section [ngClass]="{'has-juz': myJuzIndex>=0}">


    <span *ngIf="allowEdit" class="center-center tip">
        <strong>لمسؤول المجموعة:</strong>

        يمكنك تعديل الأسماء بالضغط عليها وكتابة اسم
        عضو حالي آخر أو اسم عضو جديد ثمّ الضغط على كبسة الحفظ التي تظهر بعد التغيير.
    </span>


    <app-juz *ngFor="let juz of ajza" [juz]="juz" [isEditMode]="allowEdit" [myJuzIndex]="myJuzIndex"
        (onJuzSelection)="juzClicked($event)" (onEdited)="juzEdited($event)">
    </app-juz>
</section>